<!doctype html>
<html>
{{ include('layouts/head.twig') }}
<body>
    <div id="container">
{{ include('layouts/header.twig') }}
        <main>
            サンプルページのコンテンツ11<br />
            サンプルページのコンテンツ22<br />
            サンプルページのコンテンツ33
        </main>
{{ include('layouts/footer.twig') }}
    </div>
</body>
</html>